

1.   Nomial-> There is no order in this.
2.   Ordinal->It follows the errors.

Getting Dumy variables

* Pandas->USe get_dummy method
* Sklearn-> USe OneHotEncoder from sklearn

**The below is using pandas**

In [102]:
import pandas as pd
data = {
    'town': [
        'Monroe Township', 'Robbinsville', 'West Windsor', 'Monroe Township',
        'Robbinsville', 'West Windsor', 'Monroe Township', 'Robbinsville',
        'West Windsor', 'Monroe Township', 'Robbinsville', 'West Windsor'
    ],
    'area': [2100, 1600, 2400, 1400, 3000, 1980, 2200, 1850, 2100, 1700, 2000, 2300],
    'price': [500000, 350000, 600000, 300000, 650000, 450000, 520000, 400000, 480000, 360000, 420000, 550000]
}
df = pd.DataFrame(data)
print(df)

               town  area   price
0   Monroe Township  2100  500000
1      Robbinsville  1600  350000
2      West Windsor  2400  600000
3   Monroe Township  1400  300000
4      Robbinsville  3000  650000
5      West Windsor  1980  450000
6   Monroe Township  2200  520000
7      Robbinsville  1850  400000
8      West Windsor  2100  480000
9   Monroe Township  1700  360000
10     Robbinsville  2000  420000
11     West Windsor  2300  550000

In [103]:
dumies=pd.get_dummies(df.town)
dumies

    Monroe Township  Robbinsville  West Windsor
0              True         False         False
1             False          True         False
2             False         False          True
3              True         False         False
4             False          True         False
5             False         False          True
6              True         False         False
7             False          True         False
8             False         False          True
9              True         False         False
10            False          True         False
11            False         False          True

In [104]:
merged=pd.concat([df,dumies],axis=1)
merged

               town  area   price  Monroe Township  Robbinsville  West Windsor
0   Monroe Township  2100  500000             True         False         False
1      Robbinsville  1600  350000            False          True         False
2      West Windsor  2400  600000            False         False          True
3   Monroe Township  1400  300000             True         False         False
4      Robbinsville  3000  650000            False          True         False
5      West Windsor  1980  450000            False         False          True
6   Monroe Township  2200  520000             True         False         False
7      Robbinsville  1850  400000            False          True         False
8      West Windsor  2100  480000            False         False          True
9   Monroe Township  1700  360000             True         False         False
10     Robbinsville  2000  420000            False          True         False
11     West Windsor  2300  550000            False         False          True

In [105]:
mergelast = merged.drop(['town'], axis=1)
print(mergelast)

    area   price  Monroe Township  Robbinsville  West Windsor
0   2100  500000             True         False         False
1   1600  350000            False          True         False
2   2400  600000            False         False          True
3   1400  300000             True         False         False
4   3000  650000            False          True         False
5   1980  450000            False         False          True
6   2200  520000             True         False         False
7   1850  400000            False          True         False
8   2100  480000            False         False          True
9   1700  360000             True         False         False
10  2000  420000            False          True         False
11  2300  550000            False         False          True

**The below is using sklearn**

In [114]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [115]:
df = pd.DataFrame({
    'town': ['Monroe Township', 'Robbinsville', 'West Windsor', 'Monroe Township',
             'Robbinsville', 'West Windsor', 'Monroe Township', 'Robbinsville',
             'West Windsor', 'Monroe Township', 'Robbinsville', 'West Windsor']
})
X = df[['town']].values  # 2D array
ohe = OneHotEncoder(drop='first', sparse_output=False)  # use sparse_output=False to get numpy array directly
X_encoded = ohe.fit_transform(X)
print(X_encoded)

[[0. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]
 [1. 0.]
 [0. 1.]]